<div class="container">
    <div class="row">
         <div class="col-sm-6 col-md-3" *ngFor="let site of sites">
            <div class="panel panel-default panel-card" [ngClass]="{'shadow-class': site.id==selectedSiteId}">
                <div class="panel-heading">
                    <img src="{{ site.image }}" />
                    <button (click)="setSiteId(site.id)" class="btn btn-success btn-sm" role="button">Ver Eventos</button>
                </div>
                <div class="panel-figure">
                    <img class="img-responsive img-circle" src="{{ site.image }}" style="height: 100%;" />
                </div>
                <div class="panel-body text-center">
                    <h4 class="panel-header">{{ site.name }}</h4>
                </div>
                <div class="panel-thumbnails">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                                <!-- <img src="http://placemi.com/yboaj/60x60" /> -->
                                <a href="http://www.google.com/search?q={{ site.name }}">Más Información</a>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</div>
<div *ngIf="eventsOf"><h2 class="text-center" style="margin-top: 40px; margin-bottom:40px;">Lista de eventos disponibles</h2><app-eventos [selectedSiteId]="selectedSiteId"></app-eventos></div>