<div class="container">
    <div class="row">
         <div class="col-sm-6 col-md-3" *ngFor="let site of sites">
            <div class="panel panel-default panel-card">
                <div class="panel-heading">
                    <img src="{{ site.image }}" />
                    <button class="btn btn-success btn-sm" role="button">Ver Eventos</button>
                </div>
                <div class="panel-figure">
                    <img class="img-responsive img-circle" src="{{ site.image }}" />
                </div>
                <div class="panel-body text-center">
                    <h4 class="panel-header"><a href="https://twitter.com/maridlcrmn">{{ site.name }}</a></h4>
                    <small>{{ site.description }}</small>
                </div>
                <div class="panel-thumbnails">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="thumbnail">
                                <!-- <img src="http://placemi.com/mzwlj/60x60" /> -->
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="thumbnail">
                                <!-- <img src="http://placemi.com/yboaj/60x60" /> -->
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="thumbnail">
                                <!-- <img src="http://placemi.com/gv3bp/60x60" /> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</div>