
body 
    padding: 60px 0px;
    background-color: rgb(220, 220, 220);

h1.title 
    font-size: 50px;
    font-weight: 400; 
h2.title 
    font-size: 50px;
    font-weight: 380; 

h3.title 
    font-size: 50px;
    font-weight: 350; 

hr
    width: 10%;
    color: #fff;



