<div class="container">
    <div class="row main">
        <div class="panel-heading">
           <div class="panel-title text-center">
                   <h1 class="title">Maplendar</h1>
                   <h2 class="title">Bienvenido</h2>
                   <hr />
               </div>

<img alt="" align="top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToGgE7SLPVO8f1TetmO49sFGXl2p0dsgoWtJT8B2YyhnKwhU9RRQ" />
    <div class="info">
      <h3 class="title">{{ users.name }}</h3> 
      <h3 class="title">{{ users.email }}</h3>
    </div>

        <div class="text-center"><a routerLink="/events">Crear evento</a></div>

        <div class="text-center"><a routerLink="/myEvents">Mis eventos</a></div>

	
    
        </div>
    </div>
</div>
