<div class="container">
    <div class="row">
        <div class="panel panel-default widget">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Mis invitaciones</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let invitation of invitations">
                        <div class="row">
                            <div class="col-xs-2 col-md-1">
                                <img src="https://image.flaticon.com/icons/png/512/235/235394.png" class="img-circle img-responsive" alt="" /></div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    <a href="#">
                                        {{ eventName(invitation.event_id) }}</a>
                                    <div class="mic-info" *ngIf="invitation.status == 0">
                                        Estado: Pendiente
                                    </div>
                                    <div class="mic-info" *ngIf="invitation.status == 2">
                                        Estado: Confirmada
                                    </div>
                                </div>
                                <div class="comment-text">
                                    {{ eventDescription(invitation.event_id) }}
                                </div>
                                <div class="action" *ngIf="invitation.status == 0">
                                    <button (click)="confirmInvitation(invitation.event_id)" type="button" class="btn btn-success btn-xs" title="Approved">
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </button>
                                    <!-- <button type="button" class="btn btn-danger btn-xs" title="Delete">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button> -->
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>