<div class="container">
		<div class="row">
			<div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]" *ngFor="let event of events">
				<ul class="event-list">
					<li>
						<time datetime="2014-07-20">
							<span class="day">{{ toDay(event.start_time) }}</span>
							<span class="month">{{ toMonth(event.start_time) }}</span>
						</time>
						<img alt="" src="http://1.bp.blogspot.com/-pGhcdlb6f-4/U2b4BLo4v9I/AAAAAAAAIvo/V1bQLXkypnM/s1600/1-nuevo-edificio-facultad-enfermeria-campus-UNAL-sede-bogota.jpg" />						
						<div class="info">
							<h2 class="title">{{ event.name }}</h2>
							<p class="desc">{{ event.description }}</p>
						</div>
						<div class="social">
							<ul>
								<li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
								<li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
								<li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>