<div class="container">
    <div class="row main">
        <div class="panel-heading">
           <div class="panel-title text-center">
                   <h1 class="title">Maplendar</h1>
                   <hr />
               </div>
        </div> 
        <div class="main-login main-center">
            <form class="form-horizontal" [formGroup] = "registerForm" (ngSubmit) = "createEvent()">
                
                <div class="form-group">
                    <label for="name" class="cols-sm-2 control-label">Nombre</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-address-card fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="name" id="name"  placeholder="Ingresa nombre evento" formControlName = "name" [(ngModel)] = "event.name" autofocus/>
                        </div>
                        <span *ngIf = "registerForm.controls.name.errors" class = "tooltip-content">
                            <div [hidden] = "!registerForm.controls.name.errors.required">
                                Debe escribir el nombre
                            </div>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="description" class="cols-sm-2 control-label">Descripcion</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-address-card fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="description" id="description"  placeholder="Ingresa descripcion del evento" formControlName = "description" [(ngModel)] = "event.description"/>
                        </div>
                        <span *ngIf = "registerForm.controls.description.errors" class = "tooltip-content">
                            <div [hidden] = "!registerForm.controls.description.errors.required">
                                Debe escribir la descripcion
                            </div>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="site_id" class="cols-sm-2 control-label">Lugar</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-address-card fa" aria-hidden="true"></i></span>
                            <input type="number" class="form-control" name="site_id" id="site_id"  placeholder="Ingresa el lugar del evento" formControlName = "site_id" [(ngModel)] = "event.site_id"/>
                        </div>
                        <span *ngIf = "registerForm.controls.site_id.errors" class = "tooltip-content">
                            <div [hidden] = "!registerForm.controls.site_id.errors.required">
                                Debes seleccionar un lugar
                            </div>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="start_time" class="cols-sm-2 control-label">Fecha de inicio</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-address-card fa" aria-hidden="true"></i></span>
                           <input type="datetime-local" class="form-control" name="start_time" id="start_time"  placeholder="Ingresa la fecha del evento" formControlName = "start_time" [(ngModel)] = "event.start_time"/>
                        </div>
                        <span *ngIf = "registerForm.controls.start_time.errors" class = "tooltip-content">
                            <div [hidden] = "!registerForm.controls.start_time.errors.required">
                                Debe seleccionar una fecha 
                            </div>
                            
                        </span>
                    </div>
                </div>


                <div class="form-group">
                    <label for="end_time" class="cols-sm-2 control-label">Fecha de terminacion del evento</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-address-card fa" aria-hidden="true"></i></span>
                            <input type="datetime-local" class="form-control" name="end_time" id="end_time"  placeholder="Ingresa la fecha y hora de terminacion del evento" formControlName = "end_time" [(ngModel)] = "event.end_time"/>
                        </div>
                        <span *ngIf = "registerForm.controls.end_time.errors" class = "tooltip-content">
                            <div [hidden] = "!registerForm.controls.end_time.errors.required">
                                Debe escribir una fecha de termiancion del evento
                            </div>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="owner_id" class="cols-sm-2 control-label">Id del usuario</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="number" class="form-control" name="owner_id" id="owner_id"  placeholder="Usuario dueño" formControlName = "owner_id" [(ngModel)] = "event.owner_id"/>
                        </div>
                        <span *ngIf = "registerForm.controls.owner_id.errors" class = "tooltip-content">
                            <div [hidden] = "!registerForm.controls.owner_id.errors.required">
                                Debe tener usuario dueño del evento
                            </div>
                        </span>
                    </div>
                </div>

                <div class="form-group ">
                   
		    <button (click)="createEvent(name.value, description.value, site_id.value, start_time.value, end_time.value, owner_id.value)" type="submit" class="btn btn-primary btn-lg btn-block">Crear Evento</button>

                </div>
               
            </form>
        </div>
    </div>
</div>
